<div class="col-lg-3">
    <div class="card mb-4">
      <!-- Card Header -->
      <a href="#" class="card-img-top">
        <img class="rounded-top card-img-top" src="images/courses/course-css.jpg" alt="CSS3">
      </a>
      <!-- Card Body -->
      <div class="card-body">
        <a href="#"><h6>CSS: ultimate CSS course from beginner to advanced</h6></a>
        <!-- Class Info-->
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="far fa-clock"></i>
            3h 56m
          </li>
          <li class="list-inline-item">Beginner</li>
        </ul>
        <!-- Price-->
        <span class="text-dark font-weight-bold">$600</span>
        <del>$750</del></li>
      </div>
      <!-- Card Footer -->
      <div class="card-footer">
        <div class="float-left">
          <img src="images/teacher/juanita_bell.jpg" alt="Juanita Bell" class="mr-2 rounded-circle avatar-teacher">
          <small>Juanita Bell</small>
        </div>
        <div class="float-right"><i class="far fa-bookmark text-secondary"></i></div>
      </div>
    </div>
</div>